<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name=".CustomerCareSystem" loginUrl="Login.aspx" protection="All" timeout="30"/>
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="CustomerCareConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\HolidayTraining\CustomerCareSystem\CustomerCareSystem\App_Data\CustomerCareDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CustomerCareDBEntities" connectionString="metadata=res://*/Models.CustomerCareContext.csdl|res://*/Models.CustomerCareContext.ssdl|res://*/Models.CustomerCareContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\CustomerCareDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CustomerCareSystemContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=CustomerCareSystemContext-20160416012510; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|CustomerCareSystemContext-20160416012510.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <location path="Dashboard.aspx">
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <authorization>
        <allow roles="Admin" />
        <allow roles="Customer" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>